body{
    background-color:#FFFFFE;
    font-family: Arial;
    }
button{
    background-color: white;
    border: solid 0.5px lightgray;
    vertical-align: middle;
    width: 52px;
    padding: 15px 15px;
    float:left;
    }
.container{
    max-width: 250px;
    max-height: 300px;
}
input{
    background-color: white;
    text-align: center;
    border: solid 1px lightgray;
    pointer-events: none;
    height: 30px;
    width:196px;
    text-align: center;
    padding: 5px 5px;
}
#empty{
    pointer-events: none;
    height: 46px;
    width: 52px;
    padding: 15px 15px;
}
button:hover {
    cursor: pointer;
    background-color: lightgray;
}
button:active {
    background-color: gray;
}
#btn-equal{
    background-color:#150f66;
    color: white;
}
